{% extends 'layout.html' %}

{% block content %}

    <article class="media content-section">
        {% if is_img_exist %}
            <img class='rounded-circle article-img' src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="User img">
        {% else %}
            <img class='rounded-circle article-img' src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="Default user img">
        {% endif %}
        <div class="media-body">
            <div class="article-metadata">
                <p>{{ comment.author.username }}</p>
                <p>{{ comment.comment_text }}</p>
            </div>

                {% if current_user.is_authenticated %}
                    <form class="article-content" action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                         <div class="form-group">
                            {{ form.text_comment.label(class="form-control-label") }}

                                {% if form.text_comment.errors %}
                                    {{ form.text_comment(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.text_comment.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.text_comment(class="form-control form-control-lg") }}
                                {% endif %}
                         </div>
                    {{ form.submit(class='btn btn-outline-info') }}
                    </form>
                {% endif %}
            </div>

{% endblock content %}