<html>

{% macro print_children(List, parent_id) %}
    <ul>
        {% for el in List %}
            {% if el.parent_id == parent_id %}
                <li>{{ el }}</li>
                {% set parent_id = el.id %}
                {{ print_children(List, parent_id) }}
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}


{{ print_children(comments, None) }}
</html>

{#def print_parent(List, parent_id):#}
{#    for el in List:#}
{#        if el.parent_id == parent_id:#}
{#            print(el)#}
{#            print_parent(List, el.id)#}