{% extends 'layout.html' %}

{% block content %}
     <div class="content-section">
            <div class="media">
                {% if user.image_file in exist_pics %}
                    <img class="rounded-circle account-img" src="{{ url_for('static', filename="profile_pics/" + user.image_file) }}" alt="User image">
                {% else %}
                    <img class="rounded-circle account-img" src="{{ url_for('static', filename="profile_pics/default.jpg") }}" alt="">
                {% endif %}
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="next-secondary">{{ user.email }}</p>
                </div>
            </div>
     </div>

    {% for post in posts.items %}
        <article class="media content-section">
            {% if post.author.image_file in exist_pics %}
                <img class='rounded-circle article-img' src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="User img">
            {% else %}
                <img class='rounded-circle article-img' src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt='default user image'>
            {% endif %}
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                {% if post.content|count > 200 %}
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ post.id }}" aria-expanded="false" aria-controls="collapseExample">
                        Постмотреть содержимое поста
                    </button>
                    <div class="collapse" id="collapse{{ post.id }}">
                        <div class="card card-body">
                            <p class="article-content">{{ post.content }}</p>
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ post.id }}" aria-expanded="false" aria-controls="collapseExample">
                                Свернуть
                            </button>
                        </div>
                    </div>
                {% else %}
                    <p class="article-content">{{ post.content }}</p>
                {% endif %}
            </div>
            <div>
                <small class="badge badge-info">{{ comments_counter[post.id] }}</small>
            </div>
        </article>
   {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class='btn btn-info mb-4' href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock content %}