{% extends 'layout.html' %}

{% block content%}
    <h1>Херсон</h1> Місто, обласний центр на півдні України. Важливий економічний центр півдня України. Адміністративний центр Херсонської області. Значний залізничний вузол (на лінії Миколаїв—Снігурівка—Джанкой), морський торговельний порт, річковий порт. Місто розташоване на правому високому березі Дніпра. Херсон має місто-супутник Олешки.
Походження назви
Як перше місто з так званого «Грецького проекту» Григорія Потьомкіна та Катерини II, було назване на честь найвідомішого міста-колонії Херсонес, що розташоване у Криму. Антична назва «Херсонес» — давньогрецьке діалектне слово «півострів». Але для назви було використано візантійський варіант, що вперше з'являється за часів імператора Зенона.

Історія
Давня історія
Терен сучасного міста Херсона був заселений ще з дохристиянських часів. Перша людина з'явилася на цій території в епоху міді та бронзи. На місці, де була розташована Херсонська фортеця, а зараз міститься один з центральних парків, було знайдено скіфське поховання IV—III ст. до н. е.

Заснування міста

В'їзна брама Херсонської фортеці — пам'ятка XVIII ст.

Біліховичі на Загальній карті України 1648 р. Ґійома Левасера де Боплана
На картах з початку XVII ст. і практично до середини XVIII-го на місці сучасного Херсона розташовувалося місто Bilehowisce (Біліховичі, Білховичі). Незважаючи на те, що Біліховичі на картах позначалося до середини 18 століття, швидше за все, місто до приходу фельдмаршала Мініха в гирло Дніпра, було вже у великому занепаді[3]. У книзі Себастьяна де Учедо «Покажчик відомого світу» 1672 року, в списку Європейської Тартарії, позначено міста: Очаків, Білховичі, Качибей, Вінарадна, Крапезаді, Андріїв[4]. У книзі Германа Моля «Система Географії» 1701 року, в списку Очаківської Тартарії, позначено міста: Очаків, Білховичі, Качибей[5].

У 1737 році під час Російсько-турецької війни 1735—1739 років на правому березі Дніпра було побудовано укріплення Олександр-Шанц. За Кючук-Кайнарджійською мирною угодою 1774 року між Османською імперією і Росією, до Росії відійшли землі між Дніпром і Південним Бугом. Щоб убезпечити їх від можливих нападів, треба було спорудити нову потужну фортецю, а заодно надійний флот. Визначити місце було відряджено експедицію, що її очолив віце-адмірал Сенявін, що був командувачем Азовського флоту. Саме він запропонував будувати корпуса суден під прикриттям укріплень Олександрівського Шанца, а вже потім, провівши їх до Глибокої гавані, в Дніпровсько-Бузькому лимані споряджати їх, ставити гармати та щогли. План Сенявіна був схвалений рескриптом Катерини II в грудні 1775 року. Саме так і будували кораблі в Херсонському адміралтействі, аж до його ліквідації у 1827 році.

Херсон запозичив свою назву в давньогрецького міста Херсонеса Таврійського (грецьке Χερσόνησος, Херсонесос означає півострів). На карті імперії з'явилося нове місто — Херсон, указ про заснування якого 18 червня 1778 року підписала Катерина II. У Херсоні розпочиналося будівництво Чорноморського флоту. Вересневого дня 1783 року зі стапелів адміралтейської верфі було спущено на воду перший 66-гарматний великий корабель «Слава Екатерины».

Одним із засновників міста став князь Григорій Потьомкін-Таврійський, а керівником будівництва фортеці — І. А. Ганнібал — двоюрідний дід Олександра Пушкіна. Визначним організатором флоту був адмірал М. С. Мордвинов, а адмірал Федір Ушаков не лише брав участь у створенні бойових кораблів, а й готував їхні екіпажі до дій проти османського флоту.

У 1787 році командувачем військами при Херсоні та Кінбурні було призначено видатного полководця Олександра Суворова. Він першим відзначив відчайдушність херсонців, їх готовність захищати своє місто у важкий воєнний час.

Наприкінці 18 ст. Херсон відіграв важливу роль у розвитку внутрішніх та зовнішніх економічних зв'язків Російської імперії. Через Херсонський порт здійснювалася торгівля з Францією, Італією, Іспанією та іншими країнами Європи.

З Херсоном були тісно пов'язані долі багатьох історичних осіб України, Польщі та Росії 18 ст.

Саме тут колишню запорозьку славу примножували козаки та їхні отамани: Сидір Білий, Захарій Чепіга, Антон Головатий, зусиллями яких було створено Чорноморське козацьке військо.
{% endblock content %}
